{% extends 'base.html' %}


{% block content %}

<style type="text/css">
  .breadcrumb{
    padding: 0;
    margin-bottom: @line-height-computed;
    list-style: none;
    background-color:#ffffff;
    border-radius:4px;
  }
</style>
<main role="main">
  <div  class="container">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-3" >
        <div class="input-group">
        <form method="GET" >
        <table >
          <tr>
            <td width="400"><input id="key" type="text" name='key' class="form-control" ></td>
            <td><input id="search" class="btn btn-danger" type="submit" value="搜索"> </td>
          </tr>
        </table>                   
          </form>  
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
    </div>
<br>
<br>
    <div class="row">
      <div class="grid-options col-sm-3">

        <h2 class="clearfix" style="margin-left:60px">每日推荐</h2>
          
        

        <div id="options-panel" class="options-panel collapse">
          <div id="homepage-feature" class="carousel slide">
            <ol class="carousel-indicators">
              <li data-target="#homepage-feature" data-slide-to="0" class="active"></li>
              <li data-target="#homepage-feature" data-slide-to="1"></li>
              <li data-target="#homepage-feature" data-slide-to="2"></li>
              <li data-target="#homepage-feature" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
              <div class="item active">
                <img src="http://photo.enterdesk.com/2009-4-17/200904161510234265.jpg" alt="Holder Image">
              </div>
              <div class="item">
                <img src="holder.js/600x480/auto/lava/textmode:literal" alt="Holder Image">
              </div>
              <div class="item">
                <img src="holder.js/600x480/auto/sky/textmode:literal" alt="Holder Image">
              </div>
              <div class="item">
                <img src="holder.js/600x480/auto/#f39017:#fff/textmode:literal" alt="Holder Image">
              </div>
            </div><!-- /.carousel-inner -->
            <a class="left carousel-control" href="#homepage-feature" data-slide="prev">
              <span class="icon fa fa-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#homepage-feature" data-slide="next">
              <span class="icon fa fa-chevron-right"></span>
            </a>
          </div><!-- /#homepage-feature.carousel -->
        </div>

        <h3 style="margin-left:60px"> 排序方式</h3>
        <ul class="options-list options-categories">
          <li><a href="{% url 'Goods:index' sort=0 filter=filter_now %}">默认排序</a></li>
          <li><a href="{% url 'Goods:index' sort=1 filter=filter_now %}">价格升序</a></li>
          <li><a href="{% url 'Goods:index' sort=2 filter=filter_now %}">价格降序</a></li>
          <li><a href="{% url 'Goods:index' sort=3 filter=filter_now %}">折扣最多</a></li>
          
        </ul>

        <h3 style="margin-left:78px">类别</h3>
        <ul class="options-list options-brands">
          <li><a href="{% url 'Goods:index' sort=sort_now filter=0 %}">全部</a></li>
          {% for type in goods_types %}
          <li><a href="{% url 'Goods:index' sort=sort_now filter=type.id %}">{{ type.t_Name }}</a></li>
          {% endfor %} 
        </ul>


      </div><!-- /.products-grid-options -->
      <div class="products-grid col-sm-9">
        <div class="row">
        {% if  object_list.count == 0 %}
          <h2 style="text-align:center; color:red ">未找到该商品</h2>
        
        {% else %}
          {% for goods in object_list %}
          <div class="product-item col-sm-4">
            <a href="{% url 'Goods:detail' goods.id %}"  ><img src={{ goods.g_Picture.url}} alt="sample product"  width="60%" height="70%" />
              <h2 align="center">{{ goods.g_Name }} &nbsp;&nbsp;&nbsp;&nbsp; ¥{{ goods.g_Price }}</h2>
              <p>{{ goods.g_Description }}</p>
            </a>
            <a class="btn btn-default btn-xs pull-right" href="{% url 'Goods:detail' goods.id %}" type="button" >查看详情</a>
          </div>
          {% endfor %}
        {% endif %}
        </div><!-- /.row -->
        {% load paginator_tags %}

        {% get_pagination 2 1 %}
      </div><!-- /.products-grid -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</main>

{% endblock %}
{% block script %}
<script src="/static/js/holder.js"></script>
{% endblock %}