{% extends "base.html" %}
{% block title %}{{object.g_Name}}{% endblock %}
{% block content %}
<div class="row">
	<section class="content-primary col-md-5">
		<div id="homepage-feature" >
			<img src="{{ object.g_Picture.url}}" alt="Holder Image" width="80%" height="100%">
		</div><!-- /#homepage-feature.carousel -->

		<h2 align="center">{{ object.g_Name }}</h2>
		<p align="center">{{  object.g_Description  }}</p>
	</section>

	<section class="content-secondary col-md-5 col-md-offset-2" >
		<font size="5" style="line-height:45px;" >
			&nbsp;
			<h2>名称:&nbsp; {{ object.g_Name }}</h2>
			<p>价格:&nbsp; ¥{{ object.g_Price }}</p>
			<p>促销信息:&nbsp; {{ object.g_Discount }}</p>
			<p>商品库存:&nbsp; {{ object.g_Num  }}</p>
			<p>生产日期:&nbsp; {{ object.g_ProductDate }}</p>
			<p>保质期(月):&nbsp; {{ object.g_ExpirationTime }}</p>
			<div class="bookNum">
				<input id="min" name="" type="button" value="-" >  
				<input id="num" style="width:20%; height:10%;" name="num" type="text" value="1"  >  
				<input id="add" name="" type="button" value="+" > 
				<input id="addcart" class="btn btn-danger" type="button" value='添加到购物车'>
			</div>
		</font>
	</section>
</div>
<div class="row">
	<div class="col-md-2 " style="text-align:center"> 
		<h3> 商品评价:</h3>
		{% if is_login  %}
		<table width="200px">
			<tr>
				<td>
					<input id="btn-comment" style="width:80px;" class="btn btn-success " value="点击评价" />
					<button  id="btn-cancel" style="visibility:hidden" class=" btn btn-success" >取消 </button>
				</td>
			</tr>
		</table>
		
		<div id="div-comment" style="visibility:hidden">
		 <textarea id="comment" rows="5" cols="50"></textarea><br><br>
		</div>
	{% endif %}
	</div>
   <div id="comment-content">
   	{% include "comment.html"%}
   </div>
</div>
{% endblock %}

{% block script %}

<script type="text/javascript">
$.ajaxSetup({
    data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
});

$(function(){ //这里是加减按钮都启用的情况  
	var t = $("#num");   
	$("#add").click(function(){       
		t.val(parseInt(t.val())+1)   
	})  
	$("#min").click(function(){  
		if(t.val()>1){  
			t.val(parseInt(t.val())-1);  
		}  
		else{  
			alert("至少购买一件哦！");  
		}  
    })
    $("#addcart").click(function(){  //添加到购物车     
    	var jqxhr = $.post('addCart/', {
    		Goods_id:{{object.id}},
    		Goods_num:t.val(),
    		Goods_price:{{ object.g_Price }},
    		Goods_discount:{{ object.g_Discount }},
    	}).done(function (data) {
    		alert(JSON.stringify(data));
    	}).fail(function (xhr, status) {
    		alert('失败: ' + xhr.status + ', 原因: ' + status);
    	});
	})   
}); 

//点击评价
$("#btn-comment").click(function(){   
	if ($("#btn-comment").attr('value') =='点击评价'){
		$("#btn-comment").attr('value','提交');
		$("#div-comment").attr('style','visibility:none');
		$("#btn-cancel").attr('style','visibility:none');
	}
	else{
		var comment=$("#comment").val();
		if (comment!=''){
			var jqxhr = $.post('addComment/', {
				comment:$("#comment").val(),
				Goods_id:{{object.id}},
			}).done(function (data) {
				var jqxhr = $.post('getComment/', {
				g_Id:{{object.id}},
				}).done(function(response){
					data=JSON.parse(response)
					$("#comment-content").html(data.content_html);
				});
			});
		}
		$("#btn-comment").attr('value','点击评价');
		$("#comment").val('');
		$("#div-comment").attr('style','visibility:hidden');
	}
}) 

$("#btn-cancel").click(function(){
	$("#btn-comment").attr('value','点击评价');
	$("#comment").val('');
	$("#div-comment").attr('style','visibility:hidden');
	$("#btn-cancel").attr('style','visibility:hidden');
})

</script>
{% endblock %}