{% extends 'base.html' %}


{% block content %}
<style type="text/css">
  .breadcrumb{
    padding: 0;
    margin-bottom: @line-height-computed;
    list-style: none;
    background-color:#ffffff;
    border-radius:4px;
  }
</style>
<main role="main">
  <div class="container">

    <ul class="breadcrumb" padding:0>
      <li><a href="#">Home</a></li>
      <li><a href="#">Parent Category</a></li>
      <li class="active">Current Category</li>
    </ul>

    <h1>Product Category Name</h1>

    <div class="row">
      <div class="grid-options col-sm-3">

        <h3 style="margin-left:60px"> 排序方式</h3>
        <ul class="options-list options-categories">
          <li><a href="{% url 'Goods:index' 'Sort' 0 %}">默认排序</a></li>
          <li><a href="{% url 'Goods:index' 'Sort' 1 %}">价格升序</a></li>
          <li><a href="{% url 'Goods:index' 'Sort' 2 %}">价格降序</a></li>
          <li><a href="{% url 'Goods:index' 'Sort' 3 %}">折扣最多</a></li>
          
        </ul>

        <h3 style="margin-left:78px">类别</h3>
        <ul class="options-list options-brands">
        {% for type in goods_types %}
          <li><a href="{% url 'Goods:index' 'Filter' type.id %}">{{ type.t_Name }}</a></li>
        {% endfor %} 
        </ul>


      </div><!-- /.products-grid-options -->
      <div class="products-grid col-sm-9">
        <div class="row">
          {% for goods in object_list %}
            <div class="product-item col-sm-4">
              <a href="{% url 'Goods:detail' goods.id %}"  ><img src={{ goods.g_Picture.url}} alt="sample product"  width="70%" height="70%" />
              <h2 align="center">{{ goods.g_Name }} &nbsp;&nbsp;&nbsp;&nbsp; ¥{{ goods.g_Price }}</h2>
              <p>{{ goods.g_Description }}</p>
              </a>
              <a class="btn btn-default btn-xs pull-right" href="{% url 'Goods:detail' goods.id %}" type="button" >查看详情</a>
            </div>
          {% endfor %}
        </div><!-- /.row -->
        {% load paginator_tags %}

        {% get_pagination 2 1 %}
      </div><!-- /.products-grid -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</main>


{% endblock %}